/*
 * MMM-UptimeRobot-Modern
 *
 * Originally by Simon Crnko
 * Modernized by kaczmar986
 * MIT Licensed.
 */

.MMM-UptimeRobot-Modern .friendlyName {
    padding-left: 0;
    padding-right: 25px;
}

/* Colors */

.MMM-UptimeRobot-Modern td.colored.online {
    color: #9FDF9F;
}

.MMM-UptimeRobot-Modern td.colored.offline {
    color: #FF8E99;
}

.MMM-UptimeRobot-Modern td.colored.paused {
    color: #BCDDFF;
}

.MMM-UptimeRobot-Modern td.colored.seems-down {
    color: #FFCC80;
}

.MMM-UptimeRobot-Modern td.colored.not-checked-yet {
    color: #D3D3D3;
}

/* Optional: Add a little vertical spacing between rows */
.MMM-UptimeRobot-Modern tr {
    line-height: 1.5;
}
